<div class="add-product">
  <h1>Add Product</h1>
  <p class="p_message">{{ addProductMessage }}</p>
  <form
    #addProductForm="ngForm"
    class="common-form"
    (ngSubmit)="addProduct(addProductForm.value)"
  >
    <input
      class="form-input"
      type="text"
      placeholder="Add Product Name"
      ngModel
      name="name"
    />
    <input
      class="form-input"
      type="text"
      placeholder="Add Product Color"
      ngModel
      name="color"
    />
    <input
      class="form-input"
      type="text"
      placeholder="Add Product Category"
      ngModel
      name="category"
    />
    <input
      class="form-input"
      type="text"
      placeholder="Add Product Price"
      ngModel
      name="price"
    />
    <textarea
      class="form-input"
      type="text"
      placeholder="Add Product Description"
      ngModel
      name="description"
    ></textarea>

    <input
      class="form-input"
      type="text"
      placeholder="Add Product Image URL"
      ngModel
      name="image"
    />

    <button class="form-button">Add Product</button>
  </form>
</div>
